.root-editor-container{
    background-color: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    

    .editor-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 20px;
        background-color: #d3d3d3;
        border-bottom: 1px solid #ccc;
        gap: 10px;
        .saveBtn, select {
            padding: 10px 10px;
            border-radius: 7px;
        }
        .saveBtn{
            border: none;
            background-color:rgb(31, 167, 212) ;
            cursor: pointer;
            transition-duration: 0.4s;
        }
        .saveBtn:hover{
            background-color: rgb(0, 112, 150);
        }
        .title{
            font-size: 20px;
            font-weight: 700;
        }
        .title .material-icons {
            cursor: pointer;
            font-size: 18px;
            margin-left: 5px;
        }
        select {
            padding: 6px ;
            border-radius: 4px;
            font-size: 14px;
            width: 100px;
            cursor: pointer;
        }:focus{
            outline: none;
        }
        .theme-toggle-btn {
            background: none;
            border: none;
            cursor: pointer;
            margin-right: 10px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .material-symbols-outlined,.material-icons {
            font-size: 25px;
            font-variation-settings: 'wght' 300;
            transition: transform 0.1s ease-in-out;
        }
        .material-symbols-outlined:hover,.material-icons:hover{
            transform: scale(1.04);
            font-variation-settings: 'wght' 350;
            cursor: pointer;
        }
        .back-to-dashboard{
            margin-top: 5px;
            font-variation-settings: 'wght' 550;
        }
        .back-to-dashboard:hover{
            font-variation-settings: 'wght' 700;
        }
        .btn{
            border: none;
            background: none;
        }
    }
    .editor-footer{
        padding: 10px;
        display: flex;
        justify-content: end;

        .Runbtn{
            display: flex;
            align-items: center;
            justify-content: center;
            
            padding: 6px 14px;
            gap: 8px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            color: black;
            transition-duration: 0.4s;
             font-size: 14px; 
             min-width: 120px; 
             height: 36px; 
            box-sizing: border-box; 
             text-align: center; 

        }

        .Runbtn:hover{
            background-color:#292727;
            color: white;
            cursor: pointer;
        }

    }

    .editor-body{
        flex-grow: 1;
    }
    .editor-left-container, .editor-right-container{
        display: flex;
        padding: 10px;
        gap: 10px;
        border: none;
        align-items: center;
    }

     .light-theme{
        background-color: rgb(216, 216, 216);
        color:#070707;
        select {
              background-color:#d8d8d8;
              color: #000;
            border: 2px solid #969494;
        
        }
        .Runbtn{
            background-color: #d8d8d8;
            border: 1px solid #969494;   
        }
        .Runbtn:hover{
            .runArrow{
                color: white;
            } 
        }

        .material-symbols-outlined, .material-icons{
            color: #2c2c2c;
            .btn:hover{
                color: black;
            }
        }
    }

    .dark-theme{
        background-color:#24262c;
        color: #d4d4d4;
        select{
             background-color: #1e1e1e; 
            color: #d4d4d4;            
            border: 2px solid #3c3c3c;

        }
        .Runbtn{
            background-color:#24262c;
            color: #d4d4d4;
            border: 1px solid #929191;
        }
        .Runbtn:hover{
            background-color:#e1dede;
            color:black;
            .runArrow{
                color: black;
            }
        }
        .material-symbols-outlined, .material-icons{
            color: #d4d4d4;
            .btn:hover{
                color: white;
            }
        }
    }

}